.body{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.body .button {
    display:flex;  
    width: 200px;
    padding: 15px 20px; 
    background-color: rgb(74, 43, 152); 
    color: white;  
    border-radius: 20px;
    justify-content: center;
}
.body .button .btext {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold ;    
}
.body .button .btext:hover{
    text-decoration: none;
}
.body h1{
    text-align: center;
    font-size: 40px;
    background: linear-gradient(to right, rgb(117, 102, 157), rgba(74, 43, 152, 1));
    margin-bottom: 15px ;
    font-weight: bolder;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}  

.body .button:hover {
    background-color:  rgb(94, 78, 132);
}